* {
  font-size: 20px;
}
body {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  justify-content: space-between;
}

.container {
  /* width: 100%; */
  max-width: none;
}
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.inline-popup {
  position: relative;
  display: inline-block;
}

.inline-popup summary {
  cursor: pointer;
}
h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.action-buttons,
.input-section {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 100px;
  display: none;
}

.inline-popup[open] .action-buttons {
  display: block; /* Show when details is open */
}
.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
}
.containerFile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
}

/* תיבות טקסט ריקות */
.input-section input,
.input-section textarea {
  padding: 10px;
  border: 1px solid #dadce0;
  border-radius: 6px;
  /* font-size: 100px; */
}

.add-btn,
.addNew {
  width: fit-content;
  padding: 8px 16px;
  background: #fe91c0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.add-btn:hover {
  background: #e795b8;
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;
  background: none;
  box-shadow: none;
}

.file-item:hover {
  background: #f8f9fa;
}

.file-name {
  text-decoration: none;
  /* font-size: 15px; */
  color: #202124;
}

.action-buttons button {
  margin-left: 10px;
  border: none;
  background: none;
  color: #5f6368;
  /* font-size: 13px; */
  padding: 4px 6px;
  border-radius: 4px;
}

.action-buttons button:hover {
  background: #e8eaed;
}
