/* * {
  box-shadow: none !important;
  border-radius: 0 !important;
} */
* {
  font-size: 20px;
}
body {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.container {
  /* width: 100%; */
  max-width: none;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
}
.containerFile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  align-items: center;
}

/* תיבות טקסט ריקות */
.input-section input,
.input-section textarea {
  padding: 10px;
  border: 1px solid #dadce0;
  border-radius: 6px;
  /* font-size: 100px; */
}

.add-btn {
  width: fit-content;
  padding: 8px 16px;
  background: #fe91c0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.add-btn:hover {
  background: #e795b8;
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border-bottom: 1px solid #e0e0e0;
  background: none; /* לוודא שאין רקע כללי */
  box-shadow: none; /* מנקה כל צל שנשאר בטעות */
}

.file-item:hover {
  background: #f8f9fa;
}

.file-name {
  text-decoration: none;
  /* font-size: 15px; */
  color: #202124;
}

.action-buttons button {
  margin-left: 10px;
  border: none;
  background: none;
  color: #5f6368;
  /* font-size: 13px; */
  padding: 4px 6px;
  border-radius: 4px;
}

.action-buttons button:hover {
  background: #e8eaed;
}
